.b1{height:20px;border:1px solid #7f9db9;line-height:20px; padding:0}
input.btn{height:auto; font-size:14px; font-weight:bold; color:#000}
#main {color:#666}
textarea{border:1px solid #7f9db9; font-size:14px; width:448px; color:#000}
input{font-size:14px; color:#000}
#main h3{color:#000}
.grey{color:#999}
em{font-style:normal; color:#FF0000; font-size:12px;}
#msg1,#msg2,#msg3,#msg4{ display:none}
#ol{position:absolute; z-index:1; padding:0px; margin:0px; border:0px; background:#ecf0f5;width:33px; text-align:left; }
#li{background:#ecf0f5; height:400px; overflow:hidden; width:33px; border-right:0; line-height:20px; margin:0px; padding:0px; padding-left:2px; text-align:center}
#c2{font-family:Arial, Helvetica, sans-serif; height:400px; margin:0px; width:942px; padding:0 0 0 36px; overflow-x: hidden; line-height:20px;}