.main_box { width:80%; margin-left: 10%; margin-top:15px;}
.relative { position: relative;}
.add_class_type_div { width: 100%; margin-bottom: 15px; height: 35px; border-bottom: solid 2px #E0E0E0; }
.add_class_type_selected {border: solid 2px #ff4400 ;border-bottom: solid 2px #ffffff; color: #ff4400; }
.add_class_type_button{ display: block; height: 20px; width: 50%; padding: 3px 0 8px 0; position: absolute; bottom: -2px; text-align: center; border-width: 2px; text-decoration: none; }

.col_1 { display: inline-block; width: 100px; height: 30px; margin: 10px; padding:5px; vertical-align: top; text-align: right; } 
.col_2 { display: inline-block; width: 250px; height: 30px; margin: 10px; } 
.input_text { width: 250px; height: 30px; font-size: 17px; }
.classEnterYear { width: 254px; height: 34px; font-size: 17px;  }
.beginIndex { width: 254px; height: 34px; font-size: 17px;  }
.endIndex  { width: 254px; height: 34px; font-size: 17px;  }
.none {	display: none;  }