<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdl.nlfdc.persistence.QueMapper">


    <!-- 基本操作 -->
    <select id="getQuestionBank" resultType="Que">
        select
            *
        from
            que
        where
            queId = #{queId}
            and que.isDeleted = 0
    </select>
   
    <insert id="insertQuestionBank" useGeneratedKeys="true" keyProperty="queId"  parameterType="Que">
        insert into que
            (creatorId, schoolId, contentHtml, createTime, updateTime, updatorId, subjectId, bookId, chapterId, sectionId, isDeleted)
        values
            (#{creatorId}, #{schoolId}, #{contentHtml}, #{createTime}, #{updateTime}, #{updatorId}, #{subjectId}, #{bookId}, #{chapterId}, #{sectionId}, #{isDeleted})
    </insert>
   
    <update id="updateQuestionBank" parameterType="Que">
        update
            que
        set
            creatorId = #{creatorId},
            schoolId = #{schoolId},
            contentHtml = #{contentHtml},
            createTime = #{createTime},
            updatorId = #{updatorId},
            updateTime = #{updateTime},
            subjectId = #{subjectId},
            bookId = #{bookId},
            chapterId = #{chapterId},
            sectionId = #{sectionId},
            isDeleted = #{isDeleted},
        where
            queId = #{queId}
    </update>

</mapper>