.selector_container {margin: 10px 2% 5px 2%;}
.selector { width: 46%; padding: 5px; margin: 5px 2%; float: left; }
.res_from_type_container {margin: 5px 2% 5px 2%; }
.res_from_type_selector_item { display: inline-block; padding: 5px 5px 2px 5px; width: 28%; text-align: center; font-size: 16px;}
.res_from_type_selector_item:hover { text-decoration: none; }
.res_from_type_selector_item_selected {color: white; background: #2b8ccd; }

#resource_list { margin: 10px 2% 55px 2%; }
.create_step {position: fixed; bottom: 0; width: 100%; background: lightpink; }
.step_block { text-align: center; height: 45px; padding: 12px 0; }
.step_btn {color: white; background: #FE7472;}
.step_btn_disabled {color: white; background: #AAA; }
.step_info { font-size: 12px; padding: 15px 0; color: black; background: #CCC;}

.page_title { text-align: center; font-size: 22px; padding: 5px;}
#asm_res_list { margin: 10px 2% 55px 2%; }
#assignment_info_form { margin: 10px 2% 55px 2%; }

.col_1 { display: inline-block; width: 20%; height: 30px; margin: 10px 2%; vertical-align: top; text-align: right; }
.col_2 { display: inline-block; width: 70%; margin: 10px 2%; }
.check_type { display: inline-block; width: 33%; float: left; }
.check_class { display: inline-block; width: 50%; float: left; }
.input_text { width: 100%; height: 30px; position: relative; top: -3px; font-size: 17px; }
.text_area { width: 100%; height: 75px; font-size: 17px; }
#schema_classify_wrapper select { width: 100%; margin: 0 0 10px 0; padding: 5px; border: 1px solid #999; font-size: 17px; }
.row a:hover {text-decoration: none;}

#add_res_btn { display: inline-block;  padding: 5px 5px 2px 5px; width: 12%; text-align: center; }
.creating_tip_box {text-align: center; display: none; height: 50%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.selected_res_box {background: rgb(231, 231, 196); margin-top:2px;}