.margin_top10 { margin-top: 10px; }
.margin_top20 { margin-top: 20px; }
.file_selector { margin: 15% 2% 5% 2%; border-bottom: solid 1px lightgray;  }
.file_name_box { width: 90%; margin: 2% 4%; }
.file_size_box { width: 90%; margin: 2% 4%; }
.high_light_color { color: red; }
.share_box { margin: 10% 2% 5% 2%; border-bottom: solid 1px lightgray; }
.share_to_school_box { width: 90%; margin: 4%; }
.res_setter { margin: 10% 2% 5% 2%; border-bottom: solid 1px lightgray; padding-bottom: 4%; }
.selector { width: 80%; padding: 5px; margin: 1% 2%;  }
.operation_box {position: fixed; bottom: 0%; width: 100%; }
.left_half_block { width: 49%; float: left; display: inline-block; text-align: center; height: 30px; padding: 5px 0px; background-color: #2b8ccd; color: white; }
.left_half_block:hover { text-decoration: none; }
#upload_file_btn { width: 49%; float: right; display: inline-block; text-align: center; height: 30px; padding: 5px 0px; color: white; }
#upload_file_btn:hover { text-decoration: none; } 
.highlight_button {display: inline-block; padding: 5px; color: white; background: #FF4400; font-size: 17px; min-width: 80px; text-align: center; }
.disable_look { background-color: gray; }
.hide { display: none; }
#file_upload_progress { position: relative; margin-top: 40%; margin: 45% 2% 10% 2%;}
#progress_holder { position: relative; width: 90%; border: solid 1px #2b8ccd; height: 25px; margin-left: 5%; }
#progress_bar { position: absolute; height: 25px; background-color: #2b8ccd; }
#progress_tip { font-size: 20px; position: absolute; margin: auto; left: 40%; color: orange; }
#cancle_upload_file_btn { position: fixed; border-radius: 5px; width: 50%; float: right; bottom: 10%; left: 45%; }