.selected_class { background: #F3F3F3; }
.selected_class a { color: #FF4400; font-weight: bold; }
.selected_status { color: red; font-weight: bold; }
.status_type { width: 80px; font-size: 14px; text-align: center; display: inline-block; margin: 10px 5px;}
.student_list { height: 500px; overflow-y: auto; }
.student_list_line {font-size: 14px; margin: 8px; border-bottom: solid 1px #F7F7F7; padding-bottom: 10px;}
.student_name { display: inline-block; width: 100px; }
.student_status { display: inline-block; width: 120px; }
.student_last_time { display: inline-block; }
.assign_info_title { display: block; padding: 10px; }
.assign_info_content { display: block; padding: 10px; margin-left: 20px; font-size: 14px; color: gray; }
.check_statistics {  display: block; margin-left: 15px; margin-top: 30px; }

.student_info_box { display: inline-block; height: 62px; width: 160px; margin: 10px 5px;  }
.student_title { display: inline-block; height: 52px; width: 44px; margin: 5px; }
.student_name_and_status { display: inline-block; height: 52px; width: 90px; margin: 5px; }
.student_name_label { display: block; font-size: 20px; }
.student_asm_status_label { font-size: 12px; }
.operate_div { height: 50px; border-bottom: solid 2px #999999; margin-bottom: 10px; }
.student_asm_box { padding-left: 40px; }
.stu_score_flower { width: 13px; }