span, li, a { font-size: 12px; }
.line_box {display: inline-block; }
.clear { clear: both; }
.hide {display: none; }
.right { float: right; }
.gray { color: grey; }
.main_content { width: 1080px; height: 1245px; margin: auto; margin-top: 5px; background-color: white; position: relative;  }
.row1_box { width: 1070px; margin: 5px; height: 300px; border: solid 1px white; }
.row2_box { width: 1070px; margin: 5px; height: 250px; border: solid 1px white; }
.row3_box { width: 1070px; margin: 5px; height: 250px; border: solid 1px white; }
.row3_plus_box { width: 1068px; margin: 5px; height: 162px; border: solid 1px #0099CC; }
.row4_box { width: 1070px; margin: 5px; height: 250px; border: solid 1px white; }
.row1_left_big { width: 708px; height: 298px; margin: 5px 5px 0px 0px; display: inline-block; border: solid 1px #0099CC;}
.row1_left_big_left { width: 357px; height: 298px; display: inline-block; position: relative; }
.row1_left_big_right { width: 353px; height: 298px; display: inline-block;  position: absolute; } 
.row1_right_small { width: 351px; height: 298px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 5px; right: 5px; }
.row2_col1 { width: 351px; height: 250px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 310px; left: 5px; }
.row2_col2 { width: 351px; height: 250px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 310px; left: 363px;  }
.row2_col3 { width: 351px; height: 505px;  display: inline-block; border: solid 1px #0099CC; position: absolute; top: 310px; right: 5px;}
.row3_col1 { width: 351px; height: 250px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 566px; left: 5px; }
.row3_col2 { width: 351px; height: 250px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 566px; left: 363px;  }
.row3_col3 { width: 351px; height: 250px;  display: inline-block; border: solid 1px #0099CC; position: absolute; top: 566px; right: 5px;}
.row4_col1 { width: 530px; height: 225px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 990px; left: 5px;}
.row4_col2 { width: 530px; height: 225px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 990px; right: 5px;}
.row4_col3 { width: 351px; height: 225px; display: inline-block; border: solid 1px #0099CC; position: absolute; top: 990px; right: 5px;}

.box_header { width: 98%; height: 30px; border-bottom: solid 1px #0099CC; position: relative; }
.box_header span { display: inline-block; color: white; text-align: center; padding: 4px 0; font-size: 14px; font-weight: bolder; 
	 margin: 6px 10px 4px 10px; width: 86px; height:17px; background-color: #0066CC; border-top-left-radius: 6px; border-top-right-radius: 6px; }
.box_header a { float: right; display: inline-block; width: 46px; height: 16px; margin: 7px; background-image: url(../../image/common/more_03.png); }
.box_content { width: 99%; position: relative; } 
.box_content ul {width: 96%; padding-left: 22px; }
.box_content ul li { width: 96%; line-height: 20px; border-bottom: dashed 1px gray; border-bottom-style: dotted; position: relative; }
.show_img {width: 300px; height: 260px; margin: 4px 5px 0px 5px; }
.image_selector { width: 300px; height: 30px; margin: -4px 5px 5px 5px; background: black; text-align: center; position: relative;  }
.dot { display: inline-block; width: 10px; height: 10px; margin: 10px; border-radius: 50%; background-color: white; float: right;}
.choosed {display: inline-block; width: 10px; height: 10px; margin: 10px; border-radius: 50%; background-color: green; float: right; }
.notification_link {color: blue; text-decoration: none; }
.notification_link:hover {color: red; text-decoration: none; }

.rolling_img_box {display: inline-block; width: 925px; height: 146px; margin: 6px 40px; position: relative; overflow: hidden; border: solid 1px black; }
.roll_img { width: 148px; height: 146px; position: absolute; }