@CHARSET "UTF-8";


/* 手风琴菜单样式 */
.accordion ul {
	list-style: none
}
.accordion ul.nav {
	width: 260px;
	padding: 5px 5px;
	line-height: 1.2em;
	font-size: 1.2em; 
} 
.accordion ul.nav li a {
	display: block; 
	padding: 8px 5px; 
}
.accordion ul li a:hover {
	background-color: rgb(187, 191, 192); 
}
.accordion ul.nav ul { 
	display: none;
} 
.accordion ul.nav ul li {
	clear: both;
} 
.accordion ul.nav ul li a { 
	padding-left: 30px;
	font-size: 0.9em;
}
.selected {
	background-color: rgb(147, 190, 206);
}