* {margin: 0; padding: 0; }

a { color: #666; text-decoration: none; cursor: pointer; }
a:hover { color: rgb(47, 126, 170); text-decoration: none; }
a.underline { color: rgb(47, 126, 170); }
a.underline:hover { text-decoration: underline; }
img { border:none; }
ul { list-style: none; }

/* 通用 */
.hidden { display: none; }
.hide { display: none; }
.none { display: none; }
.inline { display: inline-block; }
.hand { cursor: pointer;}
.full_window_bg_div { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; overflow: hidden; }
.full_window_bg_div img { width: 100%; height: 100%; }

/* 定位 */
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.left {float: left;}
.right {float: right;}
.clear { clear: both; height: 0; line-height: 0; font-size: 0; visibility: hidden; overflow: hidden; }
.clear_both { clear: both; }
.clearfix { *zoom: 1;}
.clearfix:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

/* 颜色 */
.black {color: black;}
.dark_gray {color: #333;}
.gray {color: #888;}
.light_gray {color: #ECECEC;}
.white {color: white;}

.bg_black {background-color: black;}
.bg_dark_gray {background-color: #333;}
.bg_gray {background-color: #888;}
.bg_light_gray {background-color: #ECECEC;}
.bg_white {background-color: white;}

/* 大小 */
.mar5{margin: 5px;}
.mar10{margin: 10px;}
.mar20{margin: 20px;}

.pad5{padding: 5px;}
.pad10{padding: 10px;}
.pad20{padding: 20px;}

/* 字体 */
.font10 { font-size: 10px; }
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font15 { font-size: 15px; }
.font16 { font-size: 16px; }
.font17 { font-size: 17px; }
.font18 { font-size: 18px; }
.font19 { font-size: 19px; }
.font20 { font-size: 20px; }
.font21 { font-size: 21px; }
.font22 { font-size: 22px; }
.font23 { font-size: 23px; }
.font24 { font-size: 24px; }
.font25 { font-size: 25px; }
.font26 { font-size: 26px; }
.font27 { font-size: 27px; }
.font28 { font-size: 28px; }
.font29 { font-size: 29px; }
.font30 { font-size: 30px; }

.font_big{font-size: 24px;}
.font_middle{font-size: 17px;}
.font_small{font-size: 14px;}
.font_tiny{font-size: 12px;}
.font_yahei{font-family: 微软雅黑;}
.font_bold{font-weight: bold;}

/* 列表样式 */
.simple_list_item { padding: 8px 2px; border-bottom: 1px solid rgb(230, 230, 230); }
.simple_list_item_left { float: left; line-height: 25px; }
.simple_list_item_left span { font-size: 12px; margin-right: 8px; color: #AAA; }
.simple_list_item_left a { font-size: 17px; text-decoration: none; color: #333;}
.simple_list_item_left a:hover {color: #FE7472; text-decoration: none;}
.simple_list_item_right { float: right; line-height: 50px; vertical-align: middle; margin: 0 5px; font-size: 14px; }
.simple_list_item_right span { color: #666; margin: 5px; }
.simple_list_item_right a { color: #2b8ccd; margin: 5px; }
.simple_list_item_right a:hover { color: #FE7472; text-decoration: none; }

/* 加载动画 */
#fountain{
	position: relative;
	width: 340px;
	height: 22px;
	margin: 40px 0 0 150px;
	font-size: 16px;
}

.fountain{
	position:absolute;
	top:0;
	background-color:black;
	width:22px;
	height:22px;
	-moz-animation-name:bounce_fountain;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(.3);
	-moz-border-radius:27px;
	-webkit-animation-name:bounce_fountain;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(.3);
	-webkit-border-radius:27px;
	-ms-animation-name:bounce_fountain;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(.3);
	-ms-border-radius:27px;
	-o-animation-name:bounce_fountain;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(.3);
	-o-border-radius:27px;
	animation-name:bounce_fountain;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(.3);
	border-radius:27px;
}

#fountain_1{
	left:0;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#fountain_2{
	left:43px;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#fountain_3{
	left:85px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#fountain_4{
	left:128px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#fountain_5{
	left:170px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#fountain_6{
	left:213px;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#fountain_7{
	left:255px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

#fountain_8{
	left:298px;
	-moz-animation-delay:1.43s;
	-webkit-animation-delay:1.43s;
	-ms-animation-delay:1.43s;
	-o-animation-delay:1.43s;
	animation-delay:1.43s;
}

@-moz-keyframes bounce_fountain{
	0%{
		-moz-transform:scale(1);
		background-color:black;
	}

	100%{
		-moz-transform:scale(.3);
		background-color:white;
	}
}

@-webkit-keyframes bounce_fountain{
	0%{
		-webkit-transform:scale(1);
		background-color:black;
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:white;
	}
}

@-ms-keyframes bounce_fountain{
	0%{
		-ms-transform:scale(1);
		background-color:black;
	}

	100%{
		-ms-transform:scale(.3);
		background-color:white;
	}
}

@-o-keyframes bounce_fountain{
	0%{
		-o-transform:scale(1);
		background-color:black;
	}

	100%{
		-o-transform:scale(.3);
		background-color:white;
	}
}

@keyframes bounce_fountain{
	0%{
		transform:scale(1);
		background-color:black;
	}

	100%{
		transform:scale(.3);
		background-color:white;
	}
}
/* 加载动画 End */


/* 弹出对话框样式   */
.layer_root_div { background-color: white; text-align: left; color: black; border-radius: 10px; }
.layer_root_div .popup_nav { width: 100%; position: relative; border-radius: 10px 10px 0 0; color: white; background: #ff8800; }
.layer_root_div .popup_nav_title { display: block; height: 20px; padding: 10px 0 10px 0; margin: 0 40px; text-align: center; font-size: 17px; font-weight: bold; }
.layer_root_div .popup_nav_close { display: block; right: 0px; position: absolute; }
.layer_root_div .popup_nav_close_img { background: url('../../image/yj/close_light.png') no-repeat; background-size: contain; display: block; width: 24px; height: 24px; margin: 8px;}
.layer_root_div .popup_content_holder { border: none; padding: 0px; overflow: auto; }

.dialog_root_div { background-color: white; text-align: left; color: black; border-radius: 10px; }
.dialog_root_div .popup_nav { width: 100%; position: relative; background: #ff8800; color: white; border-radius: 10px 10px 0px 0px; height: 40px;}
.dialog_root_div .popup_nav_title { display: block; height: 20px; padding: 10px 0 10px 0; margin: 0 40px; text-align: center; font-size: 17px; font-weight: bold; }
.dialog_root_div .popup_content_holder { border: none; padding: 0px; overflow: auto; }
.dialog_root_div .popup_dialog_btn { display: inline-block; padding: 5px 0; border-radius: 8px; background: #ff8800; color: white; text-align: center; font-weight: bold; font-size: 18px; }
.dialog_root_div .popup_dialog_btn:hover { text-decoration: none; }

/* 弹出层样式 */
.full_mask_root_div {position: absolute; top: 0px; left: 0px; background: url('../../image/yj/half_transparent_black.png') repeat; }


